.headingDashboard h3 {
    font-weight: 700;
}

.headingDashboard p {
    font-weight: 300;
    color: rgb(148, 142, 142);
    font-size: 1.2rem;
}

.dashboardheaderTop1 {
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.dashboardheaderTop2 {
    height: 85%;
}

.dashboardUserName {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dashboardUserName h3 {
    color: white;
    font-weight: 400;
    font-size: 1rem;
}

.dashboardUserName p {
    color: white;
    font-weight: 400;
    font-size: 2rem;
    line-height: 0;
}

.headingDashboard {
    width: 100%;
    height: 20vh;
    background: linear-gradient(to right, rgb(20, 81, 235), rgb(64, 39, 216));
}

.dashboardFilterHeadFilters {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-wrap: wrap;
}

.dashboardFilterHeadFilters .filterImplementByCompany {
    margin: 2px 3px;
}

.firstHeading {
    /* position: relative; */
    width:10vw;
    margin-left: 0.5rem;
    font-size: 1.2em;
    
}
.firstHeading button:hover{
    background-color: rgb(199, 193, 193);
} 


.listReports {
    position: absolute;
    /* left: 20px; */
    top: 180px;
    z-index: 99;
    height: auto;
    width: fit-content;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none;
}

.listReportsVisual {
    display: block;
}

.listReports div {
    display: flex;
    flex-direction: column;
}


.listReports div span {
    list-style-type: none;
    cursor: pointer;
    margin: 5px 0;
}

.listReports div span:hover {
    color: rgb(154, 199, 232);
}

.firstHeading h3 {
    font-weight: 400;
    color: grey;
    cursor: pointer;
}

.filterImplementByCompany button {
    width: 100px;
}

.widthsetForDashboard {
    position: relative;
    
}

.dashboardListModel {
    position: absolute;
    right: 3px;
    top: 45px;
    z-index: 99;
    height: auto;
    width: fit-content;
    padding: 5px 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none;
}



.companyList div:hover,
.CityList div:hover,
.OfficeList div:hover,
.CountryList div:hover {
    background-color: rgb(154, 199, 232);
    /* margin: 3px 0; */
    cursor: pointer;
    /* padding: 2px; */
    color: white !important;

}

.companyList div span:nth-child(1),
.CityList div span:nth-child(1),
.OfficeList div span:nth-child(1),
.CountryList div span:nth-child(1) {
    padding-right: 30px;
}

.companyList div span,
.CityList div span,
.OfficeList div span,
.CountryList div span {
    white-space: nowrap;
}

.companyList {
    position: absolute;
    left: 0px;
    top: 45px;
    z-index: 99;
    min-height: 160px;
    width: 140px;
    padding: 10px 2px;
    background-color: white;
    /* border-radius: 10px 0 0 10px; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none;
}

.CountryList {
    position: absolute;
    left:140px;
    top: 45px;
    z-index: 99;
    min-height: 160px;
    width: 160px;
    padding: 10px 2px;
    background-color: white;
    /* border-radius: 0 10px 10px 0; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none;
}


.CityList {
    position: absolute;
    left: 290px;
    top: 45px;
    z-index: 99;
    min-height: 160px;
    width: 140px;
    padding: 10px 2px;
    background-color: white;
    /* border-radius: 0 10px 10px 0; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none;
}

.OfficeList {
    position: absolute;
    left:  420px;
    top: 45px;
    z-index: 99;
    min-height: 160px;
    width: 160px;
    padding: 10px 2px;
    background-color: white;
    /* border-radius: 0 10px 10px 0; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none;
}

.companyShowIng {
    display: block !important;
}

.dashboardListModel .itemList span {

    font-weight: 200;
    font-size: 1rem;
    margin: 3px 0;
    padding: 10px 0;
    white-space: nowrap !important;
    cursor: pointer;
}

.dashboardListModel .itemList span:hover {
    color: rgb(154, 199, 232);
}

.dashboardListModelVisual {
    display: block;
}

.swiper {
    width: 85%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    width:264px !important;
    /* background: #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 260 !important;
    /* width: 100% !important; */
}

.swiper-slide .innerCard img {
    display: block;
    width: 100%;
    height: 164px !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* object-fit: contain; */
    transition: transform 0.4s;
}

.swiper-slide .innerCard img:hover {
    transform: scale(1.01);
    border-radius: inherit;
}

.innerCard p {
    margin: 10px;
}

.swiper-button-next,
.swiper-button-prev {
    background-color: rgb(67, 204, 184) !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {

    font-size: 1.5rem !important;
    color: white !important;

}

.helloCen{
    margin-left: 28%;
}

.helloCen a {
    text-decoration: none;
    
}

.helloCen a span {
    font-size: medium;
    font-weight: 600;
    color: grey;
}

.helloCen span {
    font-size: medium;
    font-weight: 600;
    color: grey;
}